
@tailwind base;

@layer base {
  h1 {
    @apply text-4xl lg:text-6xl font-bold;
  }
  h2 {
    @apply text-3xl uppercase font-bold;
  }
  h3 {
    @apply text-2xl font-bold text-themeNavy;
  }
  h4 {
    @apply text-xl uppercase font-bold text-themeColorDark;
  }
  p {
    @apply text-xs xl:text-base 2xl:text-xl text-themeNavy;
  }
}
@import "./formik.css";
@tailwind components;
@tailwind utilities;

.shadow-custom:focus {
  box-shadow: none !important;
}

.slick-arrow .slick-next {
  display: none;
}

.sponsor-logo img {
  @apply max-w-full block h-4 sm:h-6 w-20 sm:w-24 lg:w-28 2xl:w-32 object-contain object-left xl:object-center;
}

.social-media svg {
  @apply max-w-full block h-4 w-4 object-contain object-left;
}

.terms li {
  @apply pb-1 text-base xl:text-lg text-justify;
}

.url-link {
  @apply text-blue-600 underline italic;
}

.faq-section {
  @apply space-y-6;
}

.faq-content {
  @apply space-y-6;
}

.faq-inner-content {
  @apply space-y-1;
}

/* .shadow-custom:focus-visible {
  outline: none;
} */
