.spinner {
  width: 25px;
  height: 25px;
  border: 4px solid rgba(124, 239, 254, 0.564);
  border-top-color: rgba(0, 110, 255, 0.564);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}